<app-main-panel></app-main-panel>
<div style="margin: auto; text-align: center" >
  <div style="margin: 10% 0% 0% 0%;" class="message">
    <div style="display: inline-block; margin-top: 25px">
      <h1 style="font-size: 64px;"><b>Księgarnia</b></h1><br>
      <p style="font-size: 24px;">Zostaliśmy stworzeni z myślą o naszych klientach. Korzystając z naszej elektronicznej
        księgarni wspomagasz innych użytkowników aplikacji,</p>
      <p style="font-size: 24px;"> ponieważ nasi klienci sprzedają książki dla naszych klientów.
        Jest to największa zaleta naszego systemu - sprzedaż odbywa się od ludzi dla ludzi! </p><br>
      <p> <p style="font-size: 24px;">Jeśli masz jakiekolwiek pytania - <b>Skontaktuj się z nami!</b> </p>
      <mat-card style="display: inline-block; padding-top: 25px; padding-bottom: 25px" class="email">
        <mat-card-title style="font-size: 20px;color: white; background-color: #403f3f;">E-mail</mat-card-title>
        <mat-card-content>ksiegarnia.olsztyn@gmail.com</mat-card-content>
      </mat-card>
      <mat-card style="display: inline-block; margin-left: 10px; padding-top: 25px; padding-bottom: 25px">
        <mat-card-title style="font-size: 20px; color: white; background-color: #403f3f; ">Telefon</mat-card-title>
        <mat-card-content>+48 999 333 222</mat-card-content>
      </mat-card>
      <mat-card style="display: inline-block; margin-left: 10px; padding-top: 25px; padding-bottom: 25px">
        <mat-card-title style="font-size: 20px;background-color: #403f3f; color: white">Adres</mat-card-title>
        <mat-card-content>Olszyn ul. Słoneczna 99, 10-089</mat-card-content>
      </mat-card>

      <a mat-raised-button style="font-size: 24px; height: 40px; width: 200px; margin: auto; margin-top: 50px; display: grid; background-color: #403f3f; color: white" routerLink="/home">Strona główna</a>
    </div>

  </div>

</div>
