<div *ngIf="sellerBooks && !orderBooks">

  <div class="main-container">
    <div class="container">
      <div class="addIcon" style="margin: auto" *ngIf="sellerBooks">
        <button mat-raised-button color="accent" style="margin: 10px;font-size: 16px;padding: 20px;" (click)="addBook()" >Dodaj książkę</button>
      </div>
      <div class="alert alert-danger text-justify" *ngIf="books.length==0">Brak dostępnych książek. Wystaw swoje książki na sprzedaż!</div>
      <div class="list-books">
        <div *ngFor=" let book of books" [className]="">
          <mat-card  style="display: flex;flex-direction: row; width: auto; padding: 1rem;" matTooltip="{{ book.bookName }}">
            <div>
              <mat-card-title style="padding: 1rem" (click)="OnPicDialog(book.bookId)">
                <img class="bookCover" src="/assets/okladki/{{book.bookCover}}" alt="" />
              </mat-card-title>
            </div>

            <div>
              <mat-card-content>
                <div *ngIf="book.status == 'W oczekiwaniu...'" class="status">Status : <label style="color: #f1c80a;">{{ book.status }}</label> </div>
                <div *ngIf="book.status == 'Zatwierdzono...'" class="status">Status : <label style="color: #25d225;">{{ book.status }}</label> </div>
                <div *ngIf="book.status == 'Odrzucono...'" class="status">Status : <label style="color: #ff0000;">{{ book.status }}</label> </div>
                <div *ngIf="!book.quantityOfBooks" class="quantityofBooks">Brak w magazynie</div>
                <div class="bookname">Tytuł książki:<br><div class="bookTitle"> {{ book.bookName }}</div></div>
                <div class="author">Autor: {{ book.author }}</div>
                <div class="cost">Cena: {{ book.cost }}</div>
                <div class="quantityofBooks">Ilość dostępnych książek: {{ book.amountOfBook }}</div>
                <div class="desc">Krótki opis: {{ book.bookDesc }}</div>
                <div class="CardButtons">
                    <button id="editBtn" (click)="editBook(book)" mat-raised-button>
                      Edytuj
                    </button>
                    <button id="deleteBtn" (click)="deleteBook(book.bookId)" mat-raised-button>
                      Usuń
                    </button>

                    <button *ngIf="book.status != 'Zatwierdzono...' && book.status != 'W oczekiwaniu...' " matTooltip="*W każdej chwili możesz przywrócić status do 'Wstrzymanego' produktu i po edycji przesłać go do ponownego sprawdzenia." id="verifyBtn" (click)="sendAgain(book.bookId)" mat-raised-button>
                      Verify
                    </button>
                </div>
              </mat-card-content>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
