<div *ngIf="sellerBooks && !orderBooks">

  <div class="main-container">
    <div class="container">
      <div class="addIcon" style="margin: auto" *ngIf="sellerBooks">
        <button mat-raised-button><mat-icon class="icon-display" style="font-size: 50px; height: 50px; width: 50px;" id="addBtn" (click)="addBook()" matTooltip="Add Book">library_add</mat-icon></button>
      </div>
      <div class="alert alert-danger text-justify" *ngIf="books.length==0">Brak dostępnych książek. Wystaw swoje książki na sprzedaż!</div>
      <div class="list-books">
        <div *ngFor=" let book of books">
          <mat-card style=" display: flex;flex-direction: row; width: auto; padding: 5rem;" matTooltip="{{ book.bookName }}">
            <div>
              <mat-card-content style="background-color: #e5e5e5; padding: 50px; display: flex;flex-direction: column;flex-wrap: nowrap;width: 25rem; margin-top: 50px; margin-bottom: 50px;">
                <div *ngIf="!book.quantityOfBooks">Out Of stock</div>
                <div>Tytuł książki: {{ book.bookName }}</div>
                <div>Imie i nazwisko Autora: {{ book.author }}</div>
                <div>Cena: {{ book.cost }}</div>
                <div>Ilość dostępnych książek: {{ book.quantityOfBooks }}</div>
                <div>Krótki opis: {{ book.bookDesc }}</div>
              </mat-card-content>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
