<app-main-panel></app-main-panel>
<div class="newpassword">
  <mat-card fxFlex="25">
    <mat-toolbar style="background-color: #403f3f; color: white;">Zmień hasło</mat-toolbar>
    <br>
    <div style="text-align: left;">
      <h2>Zresetuj swoje hasło</h2>
    </div>
    <form #regForm=ngForm (ngSubmit)="onSubmit()">
      <div *ngIf="password.touched && !password.valid">
        <div *ngIf="password.errors?.['minlength']">
          <small><mat-error>Hasło musi zawierać 6 znaków</mat-error></small>
        </div>
        <div *ngIf="password.errors?.['pattern']">
          <small><mat-error>Hasło musi zawierać conajmniej jedną literę, jedną cyfrę, i musi być dłuższe niż 6 znaków!</mat-error></small>
        </div>
      </div>
      <div *ngIf="confirmpassword.touched && !confirmpassword.valid">
        <div *ngIf="confirmpassword.errors?.['minlength']">
          <small><mat-error>Hasło musi zawierać 6 znaków</mat-error></small>
        </div>
        <div *ngIf="confirmpassword.errors?.['pattern']">
          <small><mat-error>Hasła nie są takie same!</mat-error></small>
        </div>
      </div>
      <div class="example-container">
        <div class="alert alert-danger text-justify" [hidden]="!error">{{error}}</div>
      </div>
      <mat-form-field appearance="outline" fxLayout="column" style="width: 100%;">
        <mat-label>Podaj adres e-mail</mat-label>
        <input email required matInput type="email" placeholder="Email" [(ngModel)]="form.email" name="email" >
        <mat-icon matSuffix>email</mat-icon>

        <mat-error>Podaj poprawny adres email</mat-error>
      </mat-form-field>
      <div class="example-container">
        <mat-form-field appearance="outline" style="width: 220px;">
          <mat-label>Podaj hasło</mat-label>
          <input #password="ngModel" [type]="hide ? 'password' : 'text'" matInput required type="password"  minlength="5" [(ngModel)]="form.newPassword" name="newPassword" pattern="^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon style="color: #e1e4e4;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error>Podaj mocniejsze hasło!</mat-error>

        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 220px; padding-left: 4px;">
          <mat-label>Potwierdź hasło</mat-label>
          <input [(ngModel)]="form.confirmPassword" #pasword="ngModel" name="confirmPassword" matInput required type="password" #confirmpassword="ngModel" pattern="{{ password.value }}">
          <mat-icon style="color: #e1e4e4;" matSuffix>password</mat-icon>
          <mat-error required>Podaj poprawne hasło</mat-error>
        </mat-form-field>
      </div>
      <div class="text-right">
        <button type="submit" style="
                border-radius: 5px;
                text-decoration-color:#FFFFFF;
                font-size: 20px;
                font-weight: 500;
                color: white;
                display: flex;
                margin: auto;
                " [disabled]="!regForm.valid" id="registrationBtn" mat-raised-button color="primary">Resetuj</button>
      </div>
    </form>
  </mat-card>
</div>
<app-bottom-bar></app-bottom-bar>
