<app-main-panel></app-main-panel>
<div style="margin: auto; text-align: center" >
  <div style="margin: 10% 0% 0% 0%;" class="message">
    Twoje zamówienie zostało złożone! <br>
    Sprawdź swój adres e-mail aby uzyskać więcej informacji lub skontaktuj się z nami!
  </div>
  <div style="display: inline-block; margin-top: 25px">
    <mat-card style="display: inline-block; padding-top: 25px; padding-bottom: 25px" class="email">
      <mat-card-title style="font-size: 20px;color: white; background-color: #403f3f;">E-mail</mat-card-title>
      <mat-card-content>ksiegarnia.olsztyn@gmail.com</mat-card-content>
    </mat-card>
    <mat-card style="display: inline-block; margin-left: 10px; padding-top: 25px; padding-bottom: 25px">
      <mat-card-title style="font-size: 20px; color: white; background-color: #403f3f; ">Telefon</mat-card-title>
      <mat-card-content>+48 999 333 222</mat-card-content>
    </mat-card>
    <mat-card style="display: inline-block; margin-left: 10px; padding-top: 25px; padding-bottom: 25px">
      <mat-card-title style="font-size: 20px;background-color: #403f3f; color: white">Adres</mat-card-title>
      <mat-card-content>Olszyn ul. Słoneczna 99, 10-089</mat-card-content>
    </mat-card>
    <a mat-raised-button style="font-size: 24px; height: 40px; width: 200px; margin: auto; margin-top: 50px; display: grid; background-color: #403f3f; color: white" routerLink="/home">Strona główna</a>
  </div>
</div>
