<mat-toolbar *ngIf="!isUser && !isSeller && !isAdmin" style="width: 100%; background-color: #403f3f; color: #fff;;" class="mat-elevation-z5">
  <a mat-raised-button
    ><mat-icon routerLink="home" class="logo">menu_book</mat-icon>Księgarnia</a>
    <h1>Witaj</h1>
    <div class="breaker"></div>
    <a mat-button routerLink="wishlist">Lista życzeń</a>
    <a mat-button routerLink="home">Home</a>
    <button mat-raised-button color="dark" routerLink="login">Zaloguj się!</button>
</mat-toolbar>


<mat-toolbar *ngIf="isUser || isSeller || isAdmin" style="width: 100%; background-color: #403f3f; color: #fff;;" class="mat-elevation-z5">
  <a mat-raised-button
  ><mat-icon routerLink="home" class="logo">menu_book</mat-icon>Księgarnia</a>
    <h1>Witaj {{username}}!</h1>
      <div class="breaker"></div>
      <a mat-button routerLink="home">Home</a>
      <a mat-button>Wyszukaj</a>
      <a mat-button>Koszyk</a>
      <a mat-button routerLink="wishlist">Lista życzeń</a>
        <button mat-raised-button color="dark" (click)="logout($event)" [routerLink]="['']">Wyloguj się!</button>

</mat-toolbar>
