@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.cont {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", cursive;
}

.register {
  max-width: 978px;
  width: 100vw;
  display: flex;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: rgb(163, 158, 166);
}

.register span {
  color: #fff;
}

#form {
  max-width: 320px;
  width: 100vw;
  margin: 1em auto;
  color: #990033;
}

#form > input {
  border: 1px solid #e9ecef;
  padding: 0.9em 2rem;
}

#form > input:focus {
  outline: none;
}

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.register .col-1 {
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img {
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

#form > input {
  border: 1px solid #000000;
  font-size: 18px;
  padding: 0.9em 1em;
  transition: all 0.3s ease;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  caret-color: transparent;
}

#form > input:focus::placeholder {
  color: transparent;
}

#form > .btn {
  color: #fff;
  font-size: 1em;
  font-family: "Poppins", cursive;
  cursor: pointer;
}

.register .col-2 img {
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px) {
  .register .col-2 img {
    display: initial;
  }
}

/* form .btn {
  background: #313131;
  border: 3px solid #000000;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
} */

form .btn input {
  color: #fff;
  font-size: 1em;
  font-family: "Poppins", cursive;
  cursor: pointer;
  background: #313131;
  border: 2px solid #000000;
  padding: 8px 50px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
}

form .btn input:hover {
  background: #0a0a0a;
}

input:focus {
  box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.login-link {
  margin-top: -15px;
}

.login-link a {
  color: #3f0b93;
  text-decoration: none;
}
