* {
  font-family: "Courgette", cursive;
  font-size: 36px;
}

.headerBar {
  color: blue;
  background-color: aquamarine;
  text-align: center;
  position: fixed;
  height: 5%;
  left: 0;
  right: 0;
  margin: 10px;
  border-radius: 5px;
}
